@using MeetMe.Application.Common.Interfaces.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers

@model Event
@inject IUserContext UserContext


<h2>@Model.Title</h2>
<p>Создатель: @Model.CreatorNickname</p>
<p>Код события: @Model.Code</p>

<h3>Участники и их доступные даты:</h3>


@foreach (var participant in Model.Participants)
{
    <div>
        <h4>@participant.Nickname @(participant.IsCreator ? "(Создатель)" : "")</h4>
        <ul>
            @foreach (var range in participant.DateRanges)
            {
                <li>@range.StartDate.ToString("g") - @range.EndDate.ToString("g")</li>
            }
        </ul>
    </div>
}

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

@{
    var currentUserId = UserContext.GetCurrentUserId();
    var isCreator = Model.Participants.Any(p => p.IsCreator && p.UserId == currentUserId);
}

@if (isCreator)
{
    <div>
        <a asp-action="CalculateBestTime" asp-route-eventId="@Model.Id" class="btn btn-primary">
            Рассчитать лучшее время
        </a>
    </div>
}